* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: #000;
}


/* BAR-TOP */
.bar-top {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 10px;
}

.bar-top > * {
  flex-basis: calc(100% / 3);
  color: #fff;
}

.bar-top .central-info {
  order: 1;
  text-align: center;
}

.bar-top .top-righ-nav {
  text-align: right;
}

/* MAIN-CONTENT */
.main-content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  max-width: 100%;
  padding-bottom: 10px;
}

.main-content .user {
 border: 3px solid #000;
}

.main-content .user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main-content {
  flex-grow: 1;
  overflow: auto;
}

.main-content .user {
  position: relative;
  flex-basis: 25%;
}

.main-content .user.active {
  border-color: yellow;
}

.main-content .user .box {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 4px;
  background: #000;
  color: #fff;
  transition: border .5s;
}

.main-content .user:hover {
  border-color: orange;
}

.main-content .user .box .user-name {
  display: none;
}
.main-content .user.active .box .user-name {
  display: block;
}

.main-content .user.active .box .fas.fa-microphone-slash,
.main-content .user.no-mic .box .fas.fa-microphone-slash {
  display: none;
}


/* BAR-BOTTOM */
.bar-bottom {
  display: flex;
  justify-content: space-between;
  background: rgb(100, 100, 100);
}

.bar-bottom button {
  padding: 5px 8px;;
  height: 35px;
}

.bar-bottom .right-nav button span {
  color: red;
}
