* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

button,
button:active,
button:focus {
  background-color: inherit;
  border-color: transparent;
  outline: 0;
  font-size: 12px;
}

/* UTILITIES */
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.text-green {
  color: green;
}

.black {
  background: #000;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


/* BAR-TOP */
.bar-top {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0 20px;
}

.bar-top > * {
  flex-basis: calc(100% / 3);
  color: #fff;
}

.bar-top .central-info {
  padding-top: 5px;
  order: 1;
}

.bar-top button {
  color: #fff;
}

.bar-top button:hover {
  border: 2px solid #fff;
}

.bar-top .top-righ-nav button {
  padding: 2px 5px;
  margin-left: 5px;
  background: rgb(50, 50, 50)
}

/* MAIN-CONTENT */
.main-content {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  max-width: 100%;
  padding-bottom: 10px;
}

.main-content .user {
 position: relative;
 flex-basis: 25%;
 border: 5px solid #000;
 transition: border .5s;
}

.main-content .user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main-content {
  flex-grow: 1;
  overflow: auto;
}


.main-content .user.active {
  border-color: yellow;
}

.main-content .user:hover {
  border-color: orange;
}

.main-content .user .box {
  position: absolute;
  left: 0;
  bottom: 0;
}

.main-content .user .box > * {
  background: #000;
  color: #fff;
  padding: 4px;
  font-size: 18px;
}

.main-content .user .box .user-name {
  display: none;
}
.main-content .user.active .box .user-name {
  display: block;
}

.main-content .user.active .box .fas.fa-microphone-slash,
.main-content .user.no-mic .box .fas.fa-microphone-slash {
  display: none;
}


/* BAR-BOTTOM */
.bar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: rgb(70, 70, 70);
}

.bar-bottom > * {
  display: flex;
  align-items: stretch;
  height: 100%;
  vertical-align: top;
  background: rgb(70, 70, 70);
}

.bar-bottom button {
  padding: 9px;
  color: #fff;
}

.bar-bottom button:hover {
  border: 2px solid #fff;
}

.bar-bottom .left-nav i:nth-child(odd),
.bar-bottom .center-nav i {
  padding-bottom: 4px;
}

.bar-bottom .right-nav button span {
  color: red;
}
